body {
    background-image: url(/image/391708-evil-rick-sanchez-rick-and-morty-4k-pc-wallpaper.jpg);
    background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img-head {
    width: 350px;
}
.img-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img-foot {
    width: 300px;
}
#text-footer {
    color: antiquewhite;
    font-size: 10px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
#pagination button{
   margin: 20px;
   background-color: #05f75f;
   color:black;
}