body {
    background-image: url(/image/wallpapersden.com_rick-and-morty-2020_3840x2160.jpg);
    background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img-head {
    width: 350px;
}
footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img-foot {
    width: 300px;
}
#text-footer {
    color: antiquewhite;
    font-size: 10px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}